    <div>
      <div class="img-header">
        <img class="img-responsive" src="../img/engagement1.JPG" alt="">
        <h1 class="initials">R&D</h1>
      </div>

      <h1 class="wedding-date">10.24.15</h1>

      <div class="jumbotron details about">
        <div>
          <h1>About Rachel</h1>
          <br/><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><br/>
          <h2>
            Rachel grew up in Wethersfield, Connecticut.
            She was a local news anchor and reporter for 10 years before ditching
            the newsroom to teach yoga, write books, and blog for the Houston Chronicle
            and other Hearst Publications. She loves cats, fitness, and spirituality.
            She wants to have five kids who are equally good at math and feelings.
          </h2>
        </div>
      </div>

      <div class="jumbotron details about">
        <div>
          <h1>About Dev</h1>
          <br/>
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
          <br/>
          <h2>
            Dev was born in Fort Worth, Texas, but he grew up all over the world
            with stints in Egypt, Malaysia, India, and Bangladesh.
            These days, when Dev isn’t at the office, on a
            business trip to London, or at the gym (just kidding), he is
            busy fantasizing about his next trip or trying to
            talk Rachel into having five kids. She’s not budging.
          </h2>
        </div>
      </div>

      <div class="jumbotron">
        <div id="photos" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item imgcontainer active">
              <img src="../img/couple1.jpg">
              <div class="carousel-caption">
                <h2>Santorini, Greece</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple2.jpg">
              <div class="carousel-caption">
                <h2>Budapest, Hungary</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple8.jpg">
              <div class="carousel-caption">
                <h2>Angra Dos Reis, Brazil</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple12.jpg">
              <div class="carousel-caption">
                <h2>Saas Fee, Switzerland</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple13.jpg">
              <div class="carousel-caption">
                <h2>Rio de Janeiro, Brazil</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple14.jpg">
              <div class="carousel-caption">
                <h2>Florence, Italy</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple15.jpg">
              <div class="carousel-caption">
                <h2>Saas Fee, Switzerland</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple19.jpg">
              <div class="carousel-caption">
                <h2>Park City, Utah</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple20.jpg">
              <div class="carousel-caption">
                <h2>Houston, Texas</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple21.jpg">
              <div class="carousel-caption">
                <h2>New York, New York</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple22.jpg">
              <div class="carousel-caption">
                <h2>Houston, Texas</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple26.jpg">
              <div class="carousel-caption">
                <h2>Vatican City</h2>
              </div>
            </div>
            <div class="item imgcontainer">
              <img src="../img/couple30.jpg">
              <div class="carousel-caption">
                <h2>Manarola, Italy</h2>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#/#photos" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#/#photos" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>
